.digital-platform {
  margin-bottom: 10rem;
}

.digital-platform__heading {
  margin: 0;
  text-wrap: balance;
  color: #080d26;
  font-size: 5.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 106%;
  letter-spacing: -0.112rem;
}

.digital-platform__heading b {
  color: #00bee4;
  font-weight: inherit;
}

.digital-platform__heading--tech-expertise {
  max-width: 142rem;
}

.digital-platform__grid {
  margin: 3.5rem 0 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2.4rem;
}

.digital-platform__grid--double {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.digital-platform__card {
  min-width: 0;
  background: #f5f7fd;
  border-radius: 2.4rem;
  padding: 3.6rem 3.3rem 3.2rem;
  display: flex;
  gap: 2rem;
}

.digital-platform__card-content {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.digital-platform__card-title {
  margin: 0;
  text-wrap: balance;
  color: #080d26;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.digital-platform__card-title:last-child {
  margin-bottom: auto;
}

.digital-platform__card-text {
  color: #080d26;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.digital-platform__card-icon {
  align-self: flex-end;
  width: 6rem;
  height: 6rem;
  display: block;
  flex-shrink: 0;
  margin-bottom: -2rem;
  margin-right: -2rem;
}

@media all and (max-width: 640px) {
  .digital-platform {
    margin-bottom: 5rem;
  }

  .digital-platform__heading {
    max-width: none;
    font-size: 2.6rem;
    line-height: 106%;
    letter-spacing: -0.052rem;
  }

  .digital-platform__grid {
    margin-top: 2.2rem;
    grid-template-columns: minmax(0, 1fr);
    gap: 1.2rem;
  }

  .digital-platform__card {
    border-radius: 0.8rem;
    padding: 1.4rem 2rem 1.2rem 2.2rem;
    align-items: flex-start;
    gap: 0.8rem;
  }

  .digital-platform__card-content {
    gap: 1rem;
  }

  .digital-platform__card-title {
    font-size: 1.6rem;
    line-height: 120%;
  }

  .digital-platform__card-text {
    margin: 0;
    font-size: 1.2rem;
    line-height: 120%;
  }

  .digital-platform__card-icon {
    width: 2.7rem;
    height: 2.7rem;
    margin-right: 0;
    margin-bottom: 0;
  }
}
